---
layout: default
title: Homepage
---

<div class="container-fluid px-0">
  <div class="row row-cols-1 row-cols-md-3 no-gutters">
    {% for post in site.posts %}
    <div class="col border-bottom">
      <div class="card h-100 border-0">
        <div class="card-header mb-0 pb-0 border-0 bg-transparent">
          <small class="text-secondary">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date_to_long_string }}
            </time>
          </small>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            {{ post.title }}
          </h4>
          <p class="card-text">
            {% if post.description %}
              {{ post.description | truncate: 140 | strip_html }}
            {% else %}
              {{ post.content | truncate: 140 | strip_html }}
            {% endif %}
          </p>
          {% if post.images %}
          <div class="embed-responsive embed-responsive-21by9 border">
            <img src="{{ post.images }}" alt="{{ post.title }}" class="embed-responsive-item obj-fit-cover"/>
          </div>
          {% endif %}
        </div>
        <div class="card-footer border-0 bg-transparent">
          <a href="{{ post.url | relative_url }}" class="stretched-link text-secondary">
            <small>Read more</small>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
