---
layout: default
title: Smartphones
---
{% comment %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
  {% assign phone-brand = site.smartphones | sort: "uniq-name" %}
  {% for brand in phone-brand %}
    {% if brand.uniq-name %}
    <div class="col mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0">
            <a href="{{ brand.url | relative_url }}" class="stretched-link text-dark">
              {{ brand.title }}
            </a>
          </h4>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endcomment %}

<div class="container">
  <h3>Apple</h3>
  <section class="row row-cols-1 row-cols-md-4 flex-row flex-nowrap overflow-auto">
    {% assign phone-by-brand = site.smartphones | where: "brand", "apple" %}
    {% for phone in phone-by-brand %}
    <div class="col-4">
      <div class="embed-responsive embed-responsive-4by3 obj-fit-contain">
        <img src="{{ phone.images }}" class="embed-responsive-item" />
      </div>
      <p>
        <a href="{{ phone.url | relative_url }}">
          {{ phone.title }}
        </a>
      </p>
    </div>
    {% endfor %}
  </section>
</div>
